# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
!/.idea/
.env
/public/sw.js
/public/fallback*.js
/public/workbox*.js
/app/
/android.keystore
/app-release-bundle.aab
/app-release-signed.apk
/app-release-signed.apk.idsig
/app-release-unsigned-aligned.apk
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/manifest-checksum.txt
/settings.gradle
/store_icon.png
/twa-manifest.json